@font-face{
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css?family=Nunito');
}
@font-face{
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}


.navbar-dark .navbar-nav .active >.nav-link, .navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: #DDDDDD;
}

.navbar-dark .navbar-nav .active >.nav-link {
    color: #FFFFFF;    
}

.navbar-dark .navbar-nav .nav-link:hover  {
    color: #F6C900;
}


@media only screen and (min-width: 992px) {
    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link {
        margin:0 0.8em;
    }
}


@media only screen and (min-width: 1300px) {
    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link {
        margin:0 2em;
    }
}



.dropdown-item, .dropdown-menu {
    background-color: #343a40;
    color:#EEEEEE;
}

.main-page {
    display: flex;
    flex-direction: row;
}
aside {
    width: 30%;
    font-family: 'Nunito', sans-serif;
    color: #383C42;
    background-color: #DCDCDC;
}

.buttonMoreArticle {
    margin-bottom: 50px;
}

.containerCardDeck {
    margin-bottom: 30px;
}

.containerContent {
    margin-top: 30px;
}

.carousel.inner {
    height: 20vh;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f6c900' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f6c900' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators li {
    display: inline-block;
    height: 2vw;
    width: 2vw;
    min-width: 10px;
    max-width: 15px;
    min-height: 10px;
    max-height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #cccccc;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    min-width: 10px;
    max-width: 15px;
    min-height: 10px;
    max-height: 15px;
    margin: 10px;
    background-color: #f6c900;
}

.carousel-overlay {
    position: relative;
    font-size: 3em;
    margin-top: -20vh;
    top: 20vh;
}

.carousel-caption {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    top: 55%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3vw;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}

.btn-light {
    background-color: #F6C900;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.btn-light:hover {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    color: #F6C900;
}

.derniers {
    font-family: 'Nunito', sans-serif;
}


hr {    
    height: 2px;
    background-color: #333;
}

.textContainer {
    height: 6em;
    overflow: hidden;
    line-height: 1em;
    display: none;
    margin-top: 100%;
    transform: translateY(-50%);
}

.entree {
    color: white;
}

.crochets {
    color: #F6C900;
}

.cardText {
    color: white;
    text-shadow: 1px 1px black;
}

.cardImageOverlay {
    height: 75%;
    margin: 0 auto 0 auto;
}

.carte:hover .carteImage {
    filter: blur(5px);
}

.carte:hover .textContainer {
    display: block;
}

.titreArticle {
    margin-bottom: -6px;
}

.headerNews {
    background-color: white;
    color: #F6C900;
    border: 1px solid white;
}

.bodyNews {
    background-color: white;
    color: #F6C900;
    border-radius: 5px;
}

.card-footer {
    background-color: white;
    color: white;
}

.slash, a{
    color: #383C42;
}

a:hover {
    color: rgb(240, 196, 2);
}

/* Article */

.tags, .boutons-commentaires {
    background-color: #F6C900;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.boutons-commentaires:hover {
    background-color: white;
    color: #F6C900;
}

.tags:hover {
    background-color: white;
    color: #F6C900;
}

.petits-tittres {
    color: #F6C900;
    font-family: 'Nunito', sans-serif;
}

.card-article {
    border: 1px solid #F6C900;
}

.texteArticle {
    font-family: 'Open Sans', sans-serif;
    color: #383C42;
    text-align: justify;
}

.petits-titres-aside {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px #010101;
}

.titre-article {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
}

article h5, h4 {
    font-family: 'Nunito', sans-serif;
}

article hr {
    background-color: #F6C900;
}

.karine {
    font-family: 'Nunito', sans-serif;
}

.texte-commentaire {
    font-family: 'Open Sans', sans-serif;
}

.texte-gras {
    font-weight: bold;
}

.form {
    font-family: 'Open Sans', sans-serif;
}

.titre-aside {
    font-size: 1.2rem;
    border-bottom: 2px solid #383C42;
}

.presentationAuteur {
    font-family: 'Open Sans', sans-serif;
}

blockquote::before {
    content: open-quote;
    font-size: 40px;
    color: #F6C900;
}
blockquote::after {
    content: close-quote;
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    color: #F6C900;
}

.citation {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: flex-start;
}

/* Footer */

footer {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    }

footer a {
    text-decoration: none;
    color: white;
    text-align: center;
    }

.menu-footer {
    font-weight: 500;
    font-size: 1.2rem;
}

.rights {
    color: #F6C900;
    font-size: 1rem;
}

.logos-partenaires {
    max-width: 100px;
    height: auto;
}

.partenaires {
    color: white;
    font-size: 1.2rem;
}

.textFooter {
    color: #f6c900;
}

.carte {
    border: 1px solid #f6c900;
    margin: 4% 8%;
}

.linkAsideSocial {
    min-width: 2em;
}

footer .nav-link:hover {
    color: #F6C900;
}

@media only screen and (min-width: 320px) {
    footer .nav {
        text-align: center;
    }
}

@media only screen and (min-width: 576px) {
    footer .nav .nav-link {
        text-align: left ;
    }
}


/* Contact */

.page-contact {
    font-family: 'Nunito', sans-serif;
}

.contactez {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contributeur {
    font-family: 'Open Sans', sans-serif;
    color: #f6c900;
}

.form-control {
    border: 1px solid #F6C900;
}

.barre {
    padding: 50px;
}

.ajout-commentaire {
    width: 75%;
    margin-bottom: 5%;
    margin-left: 20%;
}

/* Hover social */

.facebook {
    position:relative;
    background-image: url("/home/wilder/Project/wild-review/images/facebook.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.facebook:hover::after {
    content:"";
    width:100%;
    height:100%;
    border-radius: 50%;
    background-image: url("/home/wilder/Project/wild-review/images/facebookv2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top:0;
    left:0;
}

.twitter {
    position:relative;
    background-image: url("/home/wilder/Project/wild-review/images/twitter.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.twitter:hover::after {
    content:"";
    width:100%;
    height:100%;
    border-radius: 50%;
    background-image: url("/home/wilder/Project/wild-review/images/twitterv2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top:0;
    left:0;
}

.instagram {
    position:relative;
    background-image: url("/home/wilder/Project/wild-review/images/instagram.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.instagram:hover::after {
    content:"";
    width:100%;
    height:100%;
    border-radius: 50%;
    background-image: url("/home/wilder/Project/wild-review/images/instagramv2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top:0;
    left:0;
}

.youtube {
    position:relative;
    background-image: url("/home/wilder/Project/wild-review/images/youtube.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.facebookStatic {
    position:relative;
    background-image: url("/home/wilder/Project/wild-review/images/facebookv2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.twitterStatic {
    position:relative;
    background-image: url("/home/wilder/Project/wild-review/images/twitterv2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.youtube {
    position:relative;
    background-image: url("/home/wilder/Project/wild-review/images/youtube.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.youtube:hover::after {
    content:"";
    width:100%;
    height:100%;
    border-radius: 50%;
    background-image: url("/home/wilder/Project/wild-review/images/youtubev2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    top:0;
    left:0;
}