.menu_item{
    color:#DDDDDD; 
}

.main-page {
    display: flex;
    flex-direction: row;
}
aside {
    width: 30%;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.buttonMoreArticle {
    margin-bottom: 50px;
}

.containerCardDeck {
    margin-bottom: 30px;
}

.containerContent {
    margin-top: 30px;
}

.filmsBoxOffice {
    display: list-item;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators li {
    display: inline-block;
    height: 2vw;
    width: 2vw;
    min-width: 10px;
    max-width: 15px;
    min-height: 10px;
    max-height: 15px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #cccccc;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    min-width: 10px;
    max-width: 15px;
    min-height: 10px;
    max-height: 15px;
    margin: 10px;
    background-color: rgb(136, 136, 136);
}

hr {    
    height: 2px;
    background-color: #333;
}

.textContainer {
    height: 6em;
    overflow: hidden;
    line-height: 1em;
    display: none;
    margin-top: 100%;
    transform: translateY(-50%);
}

.cardText {
    color: white;
    text-shadow: 1px 1px black;
}

.cardImageOverlay {
    height: 75%;
    margin: 0 auto 0 auto;
}

.carte:hover .carteImage {
    filter: blur(5px);
}

.carte:hover .textContainer {
    display: block;
}

footer {
    font-family: 'Nunito', sans-serif;
    background-color: black;
    font-size: 18px;
    font-weight: 500;
    }

footer a {
    text-decoration: none;
    color: white;
    text-align: center;
    }

footer a:hover {
    color: white;
    }

aside hr {
    height: 1px;
    background-color: white;
    }

.titreArticle {
    margin-bottom: -6px;
}

.headerNews {
    background-color: #808080;
}

.bodyNews {
    background-color: #e6e6e6;
}